.statistics {
  padding-top: 30px;
  margin: 0 auto;
  width: 450px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px 4px 4px 4px;
}
.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 40px;
}

.statList {
  display: flex;
  justify-content: space-around;
}
.item {
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  color: #fff;
}
.id-1 {
  background-color: rgb(112, 68, 68);
}
.id-2 {
  background-color: rgb(60, 62, 179);
}
.id-3 {
  background-color: rgb(190, 79, 79);
}
.id-4 {
  background-color: rgb(33, 82, 84);
}
.id-5 {
  background-color: rgb(93, 181, 181);
}

.item > .label {
  font-size: 12px;
  font-weight: 400;
}
.item > .percentage {
  font-size: 18px;
  font-weight: 400;
}
